@for $i from 1 through 12 {
    .person-#{$i} {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 24em;
        margin: 0 auto;;
        border: 1px solid $grey;
        border-radius: .3em;
        padding: 1.5em 1em;

        & img {
            border-radius: 50%;
            width: 4.5em;
            height: 4.5em;
            margin-right: .5em;

            @include mq($brk-m) {
                width: 5em;
                height: 5em;
                margin-right: .5em;
            }

            @include mq($brk-l) {
                width: 5.5em;
                height: 5.5em;
                margin-right: 1em;
            }
        }

    }
}




