* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
    color: $color-text-rimary;
    user-select: none;
}

p {
    color: darken($grey, 20%);
    margin: .5em 0;
}
